.form_container{
	margin-bottom: 50px;
	width: 100%;
	background-color:#fff4e2;
	padding: 10px;
}

body{
	margin: 0px;
	padding: 20px;
	background-color:#e7dece;
}
textarea{
	width:100%;
	height: 200px;
}
h1, h3{
	color: #847e73;
}
h2{
	color:#e7dece;
}
ul, li{
	list-style-type: none;
}
.webservices span{
	color: #b17e26;
}
.webservices{
	color: #847e73;
}
.form_seperator{
width:100%;
height:5px;
background-color:#e7dece;
}



/*#e7dece;*/